
* {
	margin: 0;
	padding: 0;
	font-family: "黑体";
}


.margin{width: 1200px;margin: 0 auto;}
#top{height: 38px;border-bottom: 1px solid #999;background: #fff;}
#top s{font: 12px/38px "";color: #666;}
#top span{font: 12px/38px "";color: #666;}
#top span:hover{color: #ff7800;}
#top .t-l{float: left;}
#top .t-r{float: right;}
#top .t-r b{font: 12px/38px "";color: #c8864a}

#header{height: 163px;background: #fff;}
#header .h-l{height: 163px;width:240px;position: relative;float: left;}
#header .h-l img{position: absolute;left: 0;top: 38px;}
#header .h-l p{width: 240px;height: 42px;background: #ff7900;position: absolute;left: 0;bottom: 0;}
#header .h-l p a{font:700 16px/42px "";color: #fff;margin-left: 18px;}

#header .h-c{float: left;height: 163px;}
#header .h-c form{display:block;margin:45px 0 0 130px;}
#txt{width: 402px;height: 38px;border: 2px solid #ff7900;float: left;}
#sub{cursor: pointer;width: 80px;height: 42px;background: #ff7900;border: none;float: left;font:650 16px/42px "";color: #fff;}
#header .h-c ul{margin-left: 10px;}
#header .h-c ul li{float: left;height:43px;text-align: center;margin:30px 0 0 60px;}
#header .h-c ul li.te{border-bottom:3px solid #ff7900;}
#header .h-c ul li.te a{color: #ff7900;}
#header .h-c ul li a{font:800 18px/48px "";color: #7c6048}
/* #header .h-c ul li a.te{border-bottom:3px solid #ff7900;} */
#header ul li:hover{border-bottom:3px solid #ff7900;}
#header ul li:hover a{color: #ff7900;}

#header .h-r{float: left;width:326px;height: 163px;position: relative;}
#header .h-r .box{right: 0;top: 46px;height:42px;border: 1px solid #666;position: absolute;right: 0;top:46px;}
#header .h-r .box p1{float: left;display: block;width: 120px;height: 42px;text-align: center;}
#header .h-r .box p2{float: left;display: block;width: 120px;height: 42px;border-left:1px solid #666;text-align: center;}
#header .h-r .box p1 a{font: 12px/42px "";color: #666}
#header .h-r .box p2 a{font: 12px/42px "";color: #666}

ul,li {list-style: none;}

input {background-color: #fff;outline: none;color:#999;}
.colorRed{color: red !important;}

/*登录注册二选一布局*/
#loginOrRegister {position: absolute;right: 420px;top: 400px;width: 500px;margin-left: -250px;margin-top: -150px;border-radius: 10px;text-align: center;}

/*登录注册标题*/
.title {height: 45px;line-height: 45px;	}
/* .title .login,.title .register{padding: 10px 0;color: #fff;font: 12px/48px "";float: left;} */

/*.title .register{
	border-left: 1px solid black;
}*/
#loginOrRegister .title{width: 400px;position: relative;}
#loginOrRegister .title span{cursor: pointer;font: 18px/48px "";float: left;margin-left: 60px;}
#loginOrRegister .title span:nth-child(2){cursor: pointer;font: 12px/48px "";float: right;}
#loginOrRegister .title b{cursor: pointer;position: absolute;right: -60px;font: 12px/48px "";float: right;}




/*登录注册具体表单信息*/
form {padding: 20px 0px;}
#formInformation {margin: 0 0px 10px 0px;}
.loginForm{display: none;}
 
/*提交样式*/
.submit input {display: inline-block;width: 300px;background-color: rgb(255, 109, 11);color: rgb(255, 255, 255);font-size: 20px;
height: 40px;line-height: 40px;outline: none;border: none;border-radius: 5px;cursor: pointer;margin-left: 32px;}
.submit input:hover{background-color: rgb(220, 109, 11);
}
.box {padding-left: 30px;}
 
.box li {line-height: 44px;width: 100%;overflow: hidden;}
 
.box li label {width: 68px;height: 50px;float: left;line-height: 50px;text-align: right;padding-right: 20px;}
 
.box li input{padding: 6px 0;font-size: 16px;width: 296px;height: 28px;line-height: 28px;border: 1px solid #dddddd;text-indent: 0.5em;float: left;border-radius: 5px;}
 
/*验证码*/
 
.box li .sradd {width: 148px;text-indent: 4px;font-size: 14px;}
 
/*登录界面验证码*/
.authCode {background: #ff7200;text-align: center;line-height: 42px;color: #fff;border-radius: 5px;font-size: 20px;letter-spacing: 3px;width: 128px;height: 42px;float: left;display: inline;cursor: pointer;margin-left: 20px;}
 
/*注册界面发送验证法*/
.sendaAuthCode{background: #ff7200;text-align: center;line-height: 42px;color: #fff;border-radius: 5px;width: 128px;height: 42px;float: left;display: inline;cursor: pointer;margin-left: 20px;}
 
.error {clear: both;display: block;color: red;padding-left: 90px;padding-bottom: 5px;height: 20px;float: left;font-size: 12px;line-height: 20px;}
 
.errorInput {border: 1px solid red !important;}
 
.correctInput {border: 1px solid green !important;}

#imgbox{height: 507px;width: 1200px;}

/* 脚步内容 */
/* 脚步导航内容 */
#footer{height: 559px;background: #fff;}
#footer .ft{height:80px;border-top: 1px solid #eff0f2}
#footer .ft ul{display: block;height:80px;border-bottom: 1px solid #eff0f2;display: flex;justify-content: space-between;}
#footer .ft ul li{float: left;width: 133px;height: 48px;margin-top: 16px;}
#footer .ft ul li i{display: block;float:left;width: 48px;height: 48px;border-radius: 50%;background: url(../image/bg.png) no-repeat center;margin-right: 13px;}
#footer .ft ul li i.i1{background-position:0 0;}
#footer .ft ul li i.i2{background-position:-48px 0;}
#footer .ft ul li i.i3{background-position:-96px 0}
#footer .ft ul li i.i4{background-position:-144px 0;}
#footer .ft ul li i.i5{background-position:-192px 0}
#footer .ft ul li a{display: block;float:left;font:18px/48px "";color: #8b8c86;}

/* 脚步列表内容 */
#footer .fb{height: 215px;overflow: hidden;}
#footer .fb .fa{margin-top: 32px;}
#footer .fb .fa dl{float: left;text-align: center;margin-right: 70px;text-align: left;position: relative;}
#footer .fb .fa dl dt{font:600 16px/24px "";color: #666;}
#footer .fb .fa dl dd{font:14px/32px "";color: #999;}
#footer .fb .fa dl dd:hover{color: #ff7900;}
#footer .fb .s1{display:block;float: left;width: 1px;height: 210px;background: #eff0f2;margin-right: 70px;}
#footer .fb .s2{display:block;float: left;width: 1px;height: 148px;background: #eff0f2;margin-right: 70px;}
#footer .fb .fa dl b{display:block;width:120px;font: 650 14px/32px "";position: absolute;left:60px;top:56px;}

/* 二维码链接 */
#footer .fb .fc{}
#footer .fb .f-box{float: right;}
#footer .fb .f-box .erbox1{float: left;text-align: center;}
#footer .fb .f-box .erbox2{float: left;text-align: center;margin-left: 20px;}
#footer .fb .f-box img{padding:8px;border: 1px solid #ddd;}
#footer .fb .f-box p{font:12px/32px "";color: #67686c;}

/* 最底下部分 */
#footer .fbot{}
#footer .fbot .youqing{height:54px;margin-top: 25px;font: 14px/36px "";}
#footer .fbot .youqing h4{float: left;color: #666;}
#footer .fbot .youqing ul{display: block;}
#footer .fbot .youqing ul li{float: left;margin-left: 10px;}
#footer .fbot .youqing ul li a{color: #999;}
#footer .fbot .youqing ul li a:hover{color: #ff7900;}

#footer .fbot .tup{height: 60px;width:100%;}
#footer .fbot .tup ul{display: block;display: flex;justify-content: center;}
#footer .fbot .tup ul li{float: left;margin-left:10px;}
#footer .fbot .tup ul li.te{margin-left: 0;}

#footer .fbot .xinxi{text-align: center;margin-top: 8px;}
#footer .fbot .xinxi p{font:12px/20px "";color: #999;}
#footer .fbot .xinxi p:hover{color: #ff7800;}